#preview{
    height: 70vh;
    border-radius: 7px;
    border: 2px solid #000000;
    margin-top: 10px;
}

.displayFlex {
    display: flex !important;
}

.userVerification{
    display: none;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 7px;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    background-color: rgb(58, 204, 70);
    margin-left: auto;
}

.stopScan{
    background-color: red;
    text-align: center;
    border-radius: 7px;
    border: 1px solid transparent;
    color: aliceblue;
    padding: 10px 0;
    cursor: pointer;
    margin-bottom: 7px;
}

.startScan{
    background-color: green;
    text-align: center;
    border-radius: 7px;
    border: 1px solid transparent;
    color: aliceblue;
    cursor: pointer;
    padding: 10px 0;
    margin-bottom: 7px;
}

.scannerPage{
    height: 100vh;
    width: 100% !important;
    max-width: 100% !important;
}

/* #pageBody{
    background-color: #ccc;
} */

#userResult{
    margin-right: 3px;
    margin-left: 3px;
}

.buttons {
    flex-direction: row;
    justify-content: space-between !important;
    align-items: center;
    margin-right: 3px !important;
    margin-left: 3px !important;
}

@media(max-width:400px) {
    .buttons {
        flex-direction: column;
    }
    .stopScan{
        margin-right: 0;
    }
}