.menuItem:hover{
    text-decoration: none ;
    outline: none;
    color: yellow;
}
.serachUser{
    width: 100%;
    margin-bottom: 2em;
    display: flex;
    cursor: pointer;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
}

.refundDone{
    cursor: pointer;
}

.searchInput{
    padding: 0.3em 0.6em;
    max-width: 85%;
    flex: 0 0 85%;
    border: none;
    border-left: 1px solid #ccc;
    outline: none;
}

.searchButton{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3em 0.6em;
    max-width: 15%;
    flex: 0 0 15%;
    background-color: #ddd;
}

.cardSearch{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3em 0.6em;
    max-width: 15%;
    flex: 0 0 15%;
    border: none;
    background-color: #ddd;
}

.showUser {
    /* width: 100%; */
    background-color: #ddd;
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
    margin-bottom: 1em;
}

.userVerify{
    display: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color:  rgb(108, 240, 104);
    padding: 0 0.6em;
    border: 1px solid transparent;
    border-radius: 10px;
}

.adminH1{
    font-size: 22px;
}

.adminHeader {
    height: 10vh;
    background-color: #ddd;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.adminDataShow{
    height: 90vh;
    /* position: relative; */
}

.adminSidebar {
    width: 300px;
    background-color: #000000;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    float: left;
    position: fixed;
}

.mainContent{
    width: calc(100% - 320px);
    float: left;
}

.menuItem{
    text-align: center;
    color: #ffffff;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid #ffffff;
    outline: none;
    text-decoration: none;
    /* text-underline-offset: n; */
}

.table {
    width: 100%;
    border-radius: 10px;
}

.table .title {
    /* background-color: #ccc; */
}

.table .options {
    text-align: right;
    /* background-color: #eee; */
}

.titleOptions {
    text-align: right !important;
}

.table .settings{
    width: 100%;
    padding: 7px 3px;
    display: block;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    background-color: #007bff;
    outline: none;
}

.userPage{
    width: 70% !important;
}

.sendSms{
    cursor: pointer;
}

.sendSms:hover{
    background-color: red;
}

.sortStyle {
    padding: 3px 10px;
    border-radius: 7px;
    margin-right: 7px;
    background-color: #eee;
}

.whereData {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.sort{
    max-width: 35%;
}

.searchBarMargins{
    margin-top: 1em;
    margin-bottom: 1em !important;
    border-radius: 7px;
}

.table .settings:hover{
    text-decoration: none;
}

.giveReserveCode{
    cursor: pointer;
}

.giveReserveCode:hover{
    background-color: #198754;
}

.table .settings-done{
    width: 100%;
    padding: 7px 3px;
    display: block;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    background-color: red;
    outline: none;
}

.table .settings-done:hover{
    text-decoration: none;
}

